/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-mainBlack text-mainText;
}

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 5px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #888888;
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 8b5a1d */
::-webkit-scrollbar-thumb {
  background: #8b5a1d;
  border-radius: 5px;
}
